{% extends 'herencias/boutiqueM&G.html' %}
{% block titulo %}
BOUTIQUEM&G
{% endblock %}
{% block contenido  %}
{% load static %}
<center>
    <h3> BoutiqueM&G. Empresa dedicada a la venta de ropas con los más altos estándares de calidad a precios muy competitivos, nuestra empresa iniciada en el año 2020 nos ha dado hasta ahora más de 2 años de experiencia en el mercado Ecuatoriano con lo cual podemos contar con una atención al cliente muy personalizada; atendiendo las necesidades de los Ecuatorianos, un producto y servicio de excelencia y con garantía real.</h3>
<IMG src="{% static 'core/imagen/rop.jpg' %}">
    </center>
<h1>ESTAMOS EN LA PÁGINA BOUTIQUEM&G</h1>
{% endblock %}