{% extends 'herencias/boutiqueM&G.html' %}
{% block titulo %}
BIOGRAFIA
{% endblock %}
{% block contenido  %}
<center>
    <h4> QUIENES SOMOS</h4>
    {% load static %}
    <IMG src="{% static 'core/imagen/log.jpg' %}">

    <h2>DATOS PERSONALES</h2>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #f1f5f5;
  text-align: left;
  padding: 16px;
  font-size: 24pt;
  color : #f5f1f1;
}

tr:nth-child(even) {
  background-color: rgba(126, 62, 175, 0.47);
  font-size: 24pt;
  color : #f5f1f1;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>NOMBRE</th>
    <th>GRACE QUINTEROS CASTRO </th>

  </tr>
  <tr>
    <td>EDAD</td>
    <td>23 AÑOS</td>


  </tr>
  <tr>
    <td>NACIONALIDAD:</td>
    <td>ECUATORINA</td>


      <tr>
    <td>FECHA DE NACIMIENTO:</td>
    <td>25 DE MARZO DE 1999</td>
  </tr>

    <tr>
    <td>ESTATURA:</td>
    <td>1,67</td>
  </tr>

     <tr>
    <td>SIGNO:</td>
    <td>ARIES</td>
  </tr>

      <tr>
    <td>OCUPACION:</td>
    <td>ESTUDIANTE,COMERCIANTE</td>
  </tr>


     <tr>
       <td>NOMBRE DEL COMERCIAL:</td>
    <td>BOUTIQUE_M&G</td>
  </tr>

    <tr>
       <td>HINCHA DE EQUIPO:</td>
    <td>BARCELONA</td>
  </tr>




</table>
    {% load static %}
<IMG src="{% static 'core/imagen/gra.jpeg' %}">

<h3>DATOS PERSONALES</h3>


<table>
  <tr>
    <th>NOMBRE</th>
    <th>MARINA POSLIGUA MERO </th>

  </tr>
  <tr>
    <td>EDAD</td>
    <td>30 AÑOS</td>


  </tr>
  <tr>
    <td>NACIONALIDAD</td>
    <td>ECUATORINA</td>


      <tr>
    <td>FECHA DE NACIMIENTO</td>
    <td>24 MARZO DE 1992</td>
  </tr>

     <tr>
    <td>ESTATURA</td>
    <td>1,64</td>
  </tr>

     <tr>
    <td>SIGNO</td>
    <td>ARIES</td>
  </tr>

      <tr>
    <td>OCUPACION</td>
    <td>ESTUDIANTE,COMERCIANTE</td>
  </tr>


     <tr>
       <td>NOMBRE DEL COMERCIAL</td>
    <td>BOUTIQUE_M&G</td>
  </tr>

    <tr>
       <td>HINCHA DE EQUIPO:</td>
    <td>EMELEC</td>
  </tr>



</table>
    {% load static %}
<IMG src="{% static 'core/imagen/mar.jpeg' %}">


    </CENTER>

</body>
</html>
{% endblock %}