<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEPORTES</title>
    {% load static %}
    <link rel="STYLESHEET" href="{%static 'core/css/estilos.css'%}">
	<link rel="STYLESHEET" href="{%static 'core/css/menuUniverso.css'%}">



</head>
<body>
<div class="nav">
  <nav class="menuCSS3">
		<ul>
			<li><a href="{% url 'inicio' %}">INICIO</a></li>
			<li><a href="{% url 'noticias' %}">NOTICIAS</a>
				<ul>
					<li><a href="">SOPHIA</a></li>
					<li><a href="">NELSON</a></li>
					<li><a href="">JACKSON</a></li>
					<li><a href="#">HARRY</a></li>
				</ul>
			</li>
			<li><a href="{% url 'deportes' %}">DEPORTES</a></li>

				<ul>

			</li>
		</ul>
	</nav>
</div>
<hi> BIENVENIDOS A LOS DEPORTES</hi>
<FOOTER class="fotter">
	QUINTEROS CASTRO GRACE CRISTINA 3/E
</FOOTER>
</body>
</html>